bot_channel = 'channelID' #limit users to using the bot in this channel, right click and copy ID.
token= 'TOKEN' #discord bot token (NOT bot ID)
website = 'http://mapnamehere.com' #URL to map if you want the .map function to work, simply gives the users the website
log_channel = 'channelID' #Add a log channel, copy the ID here, give this bot access to the channel.


#####DATABASE, limited to MySQL and MariaDB#####
host = 'localhost'  #host
user = 'rocket'  #database user
password = 'password'  #database password
database = 'rocketmapdb'  #database name
